.card {
  position: relative;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-clip: border-box;
  border-radius: 0.25em;
  box-shadow: 0 2px 5px 0;
  margin: 0.45em;
  @media only screen and (max-width: 480px), only screen and (max-device-width: 480px) {
    width: 100%
  }
  .card-body {
    display: block;
    flex: 1 1 auto;
    padding: 1.25em;
    .card-image {
      border: 1px solid #ddd;
      border-radius: 4px;
      padding: 5px;
      min-width: auto;
      max-width: 100%;
      height: auto;
    }
  }
}