#header {
  display: block;
  width: 100%;
  height: 200px;
  padding: 0;
  border: none;
  margin-left: auto;
  margin-right: auto;
  background-color: lightgray;
  #header-title {
    height: 100%;
    padding: 0;
    margin: 0;
    text-align: center;
    font-weight: 700;
    h1 {
      padding-top: 50px;
    }
  }
}