html {
  width: 100%;
  height: 100%;
}

body {
  height: auto;
  width: 100%;
  margin: 0px;
}

#app {
  @import 'components/nav-bar/navbar';
  @import 'components/header/header';
  @import 'components/card/card';
  @import 'components/scrollToTop/scrollToTop';
  @import 'components/modal/modal';

  .card-list {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
  }
  .not-found {
    display: flex;
    position: relative;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-clip: border-box;
    border-radius: 0.25em;
    box-shadow: 6px 5px 24px #666666;
    margin: 1.45em;
    text-align: center;
    background-color: gray;
    .submit {
      margin: auto;
      width: 150px;
      border-radius: 28px;
    }
  }
}