html {
  width: 100%;
  height: 100%;
}

body {
  height: auto;
  width: 100%;
  margin: 0px;
}

#app {
  @import 'components/nav-bar/navbar';
  @import 'components/header/header';
  @import 'components/card/card/';
  #card-list {
    display: flex;
    flex-wrap: wrap;
    overflow: auto;
  }
}